@* Enables onclick functions *@
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity
@using games_r_us_source.Components
@using games_r_us_source.Components.Helpers
@using games_r_us_source.Data
@inject IDbContextFactory<ApplicationDbContext> dbContextFactory

@* Used to redirect user to home page *@
@inject NavigationManager NavigationManager

@* Used in LoadFiles *@
@inject IWebHostEnvironment Environment

@page "/listing/edit"


@* Button to show the modal when editing a listing *@
<button @onclick="() => ShowModal()" class="bg-gray-300 px-4 py-2 text-black rounded-xl font-bold hover:bg-gray-400 h-20 w-20">Edit</button>


@if (IsVisible)
{
    @* if the user presses outside of the "ShowModal" it triggers "ShowConfirmCancel" *@
    <div @onclick="ShowConfirmCancel" class="z-10 fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75">
        <div class="w-full max-w-md rounded-lg bg-white p-6 shadow-lg" @onclick:stopPropagation>

            @* If the user has an image uploaded we show the "delete image" button *@
            @if (base64Image != null || ListingClone.ImagePath != null)
            {
                <button @onclick="RemoveImage"
                        class="mb-4 rounded-lg bg-red-500 px-2 py-1 font-bold text-white shadow transition duration-150 ease-in-out hover:bg-red-700"
                        disabled="@(ListingClone.AuctionEnd <= DateTime.Now)">
                    Remove Image
                </button>
            }

            @* Editform used in blazor for editing a listing *@
            <EditForm Model="@ListingClone" >

                @* Here the user uploads their image *@
                <div class="relative text-center">
                    @if (base64Image != null)
                    {
                        <img src="@base64Image" alt="New Listing Image" class="relative-fit mx-auto mb-4 h-48 w-48 overflow-hidden rounded-md">
                        @if (ListingClone.AuctionEnd <= DateTime.Now)
                        {
                            <label for="image" class="border-2 m-auto block w-full cursor-not-allowed rounded-l bg-gray-200 text-gray-500">
                                Change Image
                            </label>
                        }
                        else
                        {
                            <label for="image" class="border-2 m-auto block w-full cursor-pointer rounded-l bg-white bg-clip-border text-gray-500 transition hover:bg-gray-400">
                                Change Image
                                <InputFile id="image" class="hidden" OnChange="@LoadFiles" accept=".png, .jpg, .jpeg, .img" />
                            </label>
                        }
                    }
                    else if (ListingClone.ImagePath != null)
                    {
                        <img src="@($"/images/{ListingClone.ImagePath}")" alt="Existing Listing Image" class="relative-fit mx-auto mb-4 h-48 w-48 overflow-hidden rounded-md">
                        @if (ListingClone.AuctionEnd <= DateTime.Now)
                        {
                            <label for="image" class="border-2 m-auto block w-full cursor-not-allowed rounded-l bg-gray-200 text-gray-500">
                                Change Image
                            </label>
                        }
                        else
                        {
                            <label for="image" class="border-2 m-auto block w-full cursor-pointer rounded-l bg-white bg-clip-border text-gray-500 transition hover:bg-gray-400">
                                Change Image
                                <InputFile id="image" class="hidden" OnChange="@LoadFiles" accept=".png, .jpg, .jpeg, .img" />
                            </label>
                        }
                    }
                    else
                    {
                        @if (ListingClone.AuctionEnd <= DateTime.Now)
                        {
                            <label for="image" class="leading-6 m-auto mt-4 block inline-block w-full cursor-not-allowed rounded rounded-full border border-gray-300 bg-gray-200 p-2 px-3 py-1.5 text-base text-sm text-gray-700 text-black">
                                Add Image
                            </label>
                        }
                        else
                        {
                            <label for="image" class="leading-6 m-auto mt-4 block inline-block w-full cursor-pointer rounded rounded-full border border-gray-300 bg-white bg-gray-300 p-2 px-3 py-1.5 text-base text-sm text-gray-700 text-black transition-colors duration-150 ease-in-out hover:bg-gray-400">
                                Add Image
                                <InputFile id="image" class="hidden" OnChange="@LoadFiles" accept=".png, .jpg, .jpeg, .img" />
                            </label>
                        }
                    }
                </div>

                @* Rest of the input fields *@
                <div class="mt-4 text-center">
                    <h3 class="leading-6 text-lg font-medium text-gray-900">Edit listing</h3>

                    <DataAnnotationsValidator />
                    <ul class="mt-3 space-y-4">

                        @* Input for name disabled if the listing has expired *@
                        @if (ListingClone.AuctionEnd <= DateTime.Now)
                        {
                            <li>
                                <label for="name" class="block text-sm font-medium text-gray-700">Name:</label>
                                <InputText id="name" @bind-Value="ListingClone.Name" class="input-field mt-1 block w-full"
                                           placeholder="@ListingClone.Name" min="1" disabled />
                                <ValidationMessage For="@(() => ListingClone.Name)" class="text-red-500 text-xs mt-1" />
                            </li>
                        }
                        @if (ListingClone.AuctionEnd >= DateTime.Now)
                        {
                            <li>
                                @* Input for name *@
                                <label for="name" class="block text-sm font-medium text-gray-700">Name:</label>
                                <InputText id="name" @bind-Value="ListingClone.Name" class="input-field mt-1 block w-full"
                                           placeholder="@ListingClone.Name" min="1" />
                                <ValidationMessage For="@(() => ListingClone.Name)" class="text-red-500 text-xs mt-1" />
                            </li>
                        }
                        <li>
                            @* Input for starting price *@
                            <label for="startingPrice" class="block text-sm font-medium text-gray-700">Starting price:</label>

                            @if (!DisablePrice && ListingClone.AuctionEnd >= DateTime.Now)
                            {
                                <InputNumber id="startingPrice" @bind-Value="ListingClone.StartingPrice" class="input-field mt-1 block w-full"
                                             placeholder="@ListingClone.StartingPrice" min="1" />
                                <ValidationMessage For="@(() => ListingClone.StartingPrice)" class="text-red-500 text-xs mt-1" />
                            }
                            @*  If there has been a bid made, the user cannot edit the starting price *@
                            else
                            {
                                <InputNumber id="startingPrice" @bind-Value="ListingClone.StartingPrice" class="input-field mt-1 block w-full"
                                             disabled />
                                <p class="mt-1 text-xs text-red-500">Cannot change starting price after a bid has been made.</p>
                            }
                        </li>

                        @if (ListingClone.AuctionEnd <= DateTime.Now)
                        {
                            <li>
                                @* Input for description disabled if the listing has expired *@
                                <label for="description" class="block text-sm font-medium text-gray-700">Description:</label>
                                <InputTextArea id="description" @bind-Value="ListingClone.Description" class="input-field mt-1 block w-full" disabled
                                               placeholder="@ListingClone.Description" maxlength="100" />
                            </li>
                        }
                        else
                        {
                            <li>
                                @* Input for description *@
                                <label for="description" class="block text-sm font-medium text-gray-700">Description:</label>
                                <InputTextArea id="description" @bind-Value="ListingClone.Description" class="input-field mt-1 block w-full"
                                               placeholder="@ListingClone.Description" maxlength="100" />
                            </li>
                        }
                        <li>
                            @* Uneditable end date *@
                            <label for="auctionEnd" class="block text-sm font-medium text-gray-700">End date for Auction:</label>
                            <input type="datetime-local" id="auctionEnd" @bind="ListingClone.AuctionEnd" class="input-field mt-1 block w-full"
                                   min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" disabled />
                        </li>

                        <li>
                            @* Platform input (xbox, gamecube, etc.) *@
                            <label for="platform" class="block text-sm font-medium text-gray-700">Platform:</label>
                            <InputSelect id="platform" @bind-Value="ListingClone.Platform" class="input-field mt-1 block w-full" disabled="@(ListingClone.AuctionEnd <= DateTime.Now)">
                                @* generate options for platforms *@
                                @foreach (var platform in Enum.GetValues(typeof(Platform)))
                                {
                                    <option value="@platform">@platform</option>
                                }
                            </InputSelect>
                        </li>

                        <li>
                            @* Game category (fps, indie, etc.) *@
                            <label for="gameCategory" class="block text-sm font-medium text-gray-700">Game Category:</label>
                            <InputSelect id="gameCategory" @bind-Value="ListingClone.GameCategory" class="input-field mt-1 block w-full" disabled="@(ListingClone.AuctionEnd <= DateTime.Now)">
                                <option value="null">None</option> @* None as an option in case the listing is a console *@
                                @foreach (var category in Enum.GetValues(typeof(GameCategory)))
                                {
                                    <option value="@category">@category</option>
                                }
                            </InputSelect>
                        </li>

                    </ul> @* Submit and cancel buttons *@
                    @if (Listing.AuctionEnd <= DateTime.Now)
                    {
                        <button type="submit" @onclick="HandleValidSubmit" class="mt-4 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700" disabled >Save changes</button>
                    }
                    else
                    {
                        <button type="submit" @onclick="HandleValidSubmit" class="mt-4 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700">Save changes</button>
                    }
                    <button type="button" @onclick="ShowConfirmCancel" class="ml-2 mt-4 rounded bg-red-500 px-4 py-2 font-bold text-white hover:bg-red-700">Cancel</button>
                </div>
            </EditForm>
        </div>
    </div>

    @if (showConfirmation) @* If the user presses "cancel" we show this confirmation modal *@
    {
        <div class="fixed inset-0 z-30 flex items-center justify-center bg-black bg-opacity-50">
            <div class="flex flex-col items-center rounded bg-white p-4">
                <h2 class="mb-4 text-lg">Are you sure you want to cancel?</h2>
                <div class="flex justify-center space-x-4">
                    <button class="rounded bg-green-500 px-4 py-2 text-white" @onclick="ConfirmCancel">Yes</button>
                    <button class="rounded bg-red-500 px-4 py-2 text-white" @onclick="HideConfirmCancel">No</button>
                </div>
            </div>
        </div>
    }

    @if (isSuccessful)
    {
        <div class="fixed inset-0 z-30 flex items-center justify-center bg-black bg-opacity-50">
            <div class="flex flex-col items-center rounded bg-white p-4">
                <h3 class="mb-4 text-lg">Changes saved successfully</h3>
            </div>
        </div>
    }
}


@code {
    [Parameter]
    public Listing Listing { get; set; } // Get Listing from "ListingDetails"

    private Listing ListingClone { get; set; } // Clone of the Listing for editing

    [Parameter]
    public Bid? HighestBid { get; set; }

    private long maxFileSize = 1024 * 1024 * 3; // file size set to 3MB
    private int maxAllowedFiles = 1; // In case we ever want to allow more than one image in the future

    private IBrowserFile? file; // Holds a reference to the uploaded file

    private string base64Image; // For immediate display in our ui
    private string originalImagePath; // Store original image path
    private string serverImagePath; // Path where the image is stored
    private string currentImagePath;
    private DateTime lastSubmissionTime = DateTime.MinValue;
    private bool DisablePrice = false; // if true the user can edit the starting price (if no bids were made)

    private bool IsVisible;
    private bool showConfirmation;
    private bool isSuccessful;

    private async Task HandleValidSubmit()
    {
        var currentTime = DateTime.Now;

        // Check to prevent rapid successive submissions
        if ((currentTime - lastSubmissionTime).TotalSeconds < 3)
        {
            return;
        }

        using var dbContext = dbContextFactory.CreateDbContext();

        // Attach the updated Listing to the context and mark it as modified
        dbContext.Entry(Listing).State = EntityState.Modified;

        // Update listing details from the edit form
        // Directly using Listing object assuming it's the same object updated by data-binding in the form
        if (!string.IsNullOrEmpty(currentImagePath))
        {
            string permanentFolderPath = Path.Combine("C:\\Temp");
            string tempImagePath = Path.Combine("C:\\Temp", "temp_images", currentImagePath);
            string permanentImagePath = Path.Combine(permanentFolderPath, currentImagePath);

            if (File.Exists(tempImagePath))
            {
                Directory.CreateDirectory(permanentFolderPath);
                File.Move(tempImagePath, permanentImagePath); // Move the image from temp to perm
                Listing.ImagePath = currentImagePath; // Update the database image path
            }
            else
            {
                return;
            }
        }

        // Attempt to save changes to the database
        try
        {
            // Manually update Listing properties from ListingClone.
            // this is used to ensure that if the user edits some fields and then cancels the changes won't get saved
            Listing.Name = ListingClone.Name;
            Listing.StartingPrice = ListingClone.StartingPrice;
            Listing.Description = ListingClone.Description;
            Listing.AuctionEnd = ListingClone.AuctionEnd;
            Listing.Platform = ListingClone.Platform;
            Listing.GameCategory = ListingClone.GameCategory;

            dbContext.Update(Listing);
            await dbContext.SaveChangesAsync();
            isSuccessful = true;
            StateHasChanged();

            await Task.Delay(2000); // Display the success message for 2 seconds before redirect

            isSuccessful = false;
            NavigationManager.NavigateTo("/", forceLoad: true);
            lastSubmissionTime = currentTime;
        }
        catch (DbUpdateException ex)
        {
            Console.WriteLine($"Database update failed: {ex.Message}");
            isSuccessful = false;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An unexpected error occurred: {ex.Message}");
            isSuccessful = false;
            StateHasChanged();
        }
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        var result = await ListingHelper.LoadFilesAsync(e, currentImagePath, maxFileSize);

        base64Image = result.base64Image;
        currentImagePath = result.currentImagePath;

        StateHasChanged();
    }

    public void ShowModal()
    {
        DisablePrice = HighestBid != null && HighestBid.Amount > Listing.StartingPrice;
        ListingClone = new Listing
        {
            ID = Listing.ID,
            Name = Listing.Name,
            StartingPrice = Listing.StartingPrice,
            Description = Listing.Description,
            AuctionEnd = Listing.AuctionEnd,
            Platform = Listing.Platform,
            GameCategory = Listing.GameCategory,
            ImagePath = Listing.ImagePath
        };
        originalImagePath = Listing.ImagePath; // Store the original image path
        IsVisible = true;
    }

    private void RemoveImage()
    {
        base64Image = null;

        // If there's a current image path in temporary storage, delete it
        if (!string.IsNullOrEmpty(currentImagePath))
        {
            string tempFolderPath = Path.Combine("C:\\Temp", "temp_images");
            string fullPath = Path.Combine(tempFolderPath, currentImagePath);
            if (File.Exists(fullPath))
            {
                File.Delete(fullPath);  // Delete the image file
            }
            currentImagePath = null;
        }

        ListingClone.ImagePath = null;
        StateHasChanged();
    }

    private void ShowConfirmCancel() => showConfirmation = true;

    private void HideConfirmCancel()
    {
        showConfirmation = false;
    }

    private void ConfirmCancel()
    {
        showConfirmation = false;
        IsVisible = false;
        ListingClone = null;
        base64Image = null;
        currentImagePath = null;
        Listing.ImagePath = originalImagePath; // Resets the image path
    }

    public void CloseModal()
    {
        isSuccessful = false;
        base64Image = null;
        serverImagePath = null;
        IsVisible = false;
    }

}
