@using Models;

<div class="border-2 m-auto flex h-fit w-1/2 flex-col items-center rounded-2xl border-blue-800 p-4">
    <img class="max-h-60 w-full rounded-2xl bg-gray-300 object-cover" src="@CurrentListing.ImagePath" alt="@CurrentListing.Name" />

    <div class="mt-6 flex w-full flex-col rounded-2xl bg-gray-300">
        <h3 class="text-center font-bold tracking-wider">@CurrentListing.Name</h3>
        <div class="mt-3 flex flex-row justify-evenly">
            <p>$@CurrentListing.StartingPrice</p>
            <div class="border-b-2 group relative inline-block cursor-help border-dotted">
                <span class="text-red-700">Ends in: @GetTimeDifference(CurrentListing.AuctionEnd)</span>
                <span class="-ml-[50%] invisible absolute bottom-full left-1/2 w-full rounded bg-black text-center text-white opacity-70 group-hover:visible">@CurrentListing.AuctionEnd.</span>
            </div>
        </div>
        <p class="text-center">@CurrentListing.Description</p>
        <p>By: @CurrentListing.Account.Name</p> 
        <p>@CurrentListing.Account.PhoneNumber</p>
    </div>
</div>

@code {
    // [Parameter]
    // public Listing CurrentListing { get; set; }

    public Listing CurrentListing = new Listing
        {
            Name = "test prodcut",
            Description = "idwjaidjw. djwiaodjiawpdjiowahjdiwjdiwa d diwjdiwjdiwa dwa daw.",
            AuctionEnd = new DateTime(2024, 05, 29, 12, 00, 00),
            AccountID = 1,
            Account = new Account
            {
                Address = "Teststreet 234",
                Name = "Jack",
                ID = 1,
                OpenIDIssuer = "fakeisss",
                OpenIDSubject = "11111",
                PhoneNumber = "852358725"
            },
            GameCategory = GameCategory.Fantasy,
            ImagePath = "/favicon.png",
            StartingPrice = 33,
            ID = 1,
            Platform = Platform.PlayStation
        };

    private string GetTimeDifference(DateTime endDate)
    {
        TimeSpan timeDifference = endDate - DateTime.Today;

        if (timeDifference.TotalDays >= 7)
        {
            return Math.Round(timeDifference.TotalDays / 7) + " weeks";
        }

        return timeDifference.TotalDays + "days";
    }
}
