@using Models;

<div class="border-2 font-[Kadwa] m-auto flex h-1/2 w-fit flex-col rounded-2xl border-blue-800 bg-gray-200 p-4 text-center md:flex-row">
    <img class="mr-2 h-96 w-96 rounded-xl border-black object-cover drop-shadow-2xl" src="@CurrentListing.ImagePath" alt="@CurrentListing.Name" />

    <div class="inline-block h-96 w-full pl-2">
        <p class="mb-10 text-gray-800 md:text-right">
            In
            @CurrentListing.Platform @(
            CurrentListing.GameCategory != null ? $" > {CurrentListing.GameCategory}" : "")
        </p>

        <div class="flex h-3/4 flex-col justify-between">
            <h3 class="text-xl font-bold tracking-wider">@CurrentListing.Name</h3>

            <div class="flex flex-row justify-evenly justify-self-center">
                <div>
                    <p>Starting at </p><span class="font-bold">$@CurrentListing.StartingPrice</span>
                </div>
                <div class="border-r-2 h-full border-gray-400"></div>
                <div class="group relative inline-block cursor-help">
                    <p>Ends in</p><span class="border-b-2 border-dotted border-black text-red-700">@GetTimeDifference(CurrentListing.AuctionEnd)</span>
                    <span class="-ml-[50%] invisible absolute bottom-full left-1/2 w-fit rounded bg-black text-white opacity-70 group-hover:visible">@CurrentListing.AuctionEnd</span>
                </div>
            </div>

            <section>
                <h4 class="font-bold">Description</h4>
                <p>@CurrentListing.Description</p>
            </section>

            <section>
                <h4 class="font-bold">Seller</h4>
                <p>
                    @CurrentListing.Account.Name
                </p>
                <p>
                    Phone: @CurrentListing.Account.PhoneNumber
                </p>
            </section>
        </div>
    </div>
</div>

@code {
    // [Parameter]
    // public Listing CurrentListing { get; set; }

    private Listing CurrentListing = new Listing
        {
            Name = "My Product",
            Description = "This is my product. I love it but now I want to sell it.",
            AuctionEnd = new DateTime(2024, 05, 29, 12, 00, 00),
            AccountID = 1,
            Account = new Account
            {
                Address = "Teststreet 234",
                Name = "Jack",
                ID = 1,
                OpenIDIssuer = "fakeisss",
                OpenIDSubject = "11111",
                PhoneNumber = "852358725"
            },
            GameCategory = GameCategory.Fantasy,
            ImagePath = "images/bananas.jpg",
            StartingPrice = 33,
            ID = 1,
            Platform = Platform.PlayStation
        };

    private string GetTimeDifference(DateTime endDate)
    {
        TimeSpan timeDifference = endDate - DateTime.Today;

        if (timeDifference.TotalDays >= 7)
        {
            return Math.Round(timeDifference.TotalDays / 7) + " weeks";
        }

        return timeDifference.TotalDays + "days";
    }
}
