@using Microsoft.EntityFrameworkCore
@using Data;
@using Components.Helpers;
@using Microsoft.AspNetCore.Components.Authorization
@inject IDbContextFactory<ApplicationDbContext> dbContextFactory;
@inject AuthenticationStateProvider AuthorizationStateProvider;
@rendermode InteractiveServer

<AuthorizeView>
    <Authorized>
        <h3 class="mb-4 block text-center text-2xl font-bold">Bidding History</h3>
        <main class="border-2 rounded border-black text-center *:list-none">
            <ul class="grid-cols-4 grid font-bold">
                <li>
                    <button class="uppercase tracking-wide" type="button" @onclick="() => OrderBids(SortingOrder.Amount)">
                        Amount
                        @DrawArrowIcon(SortingOrder.Amount)
                    </button>
                </li>
                <li class="border-l-[1px] border-r-[1px] border-black">
                    <button class="uppercase tracking-wide" type="button" @onclick="() => OrderBids(SortingOrder.Status)">
                        Status
                        @DrawArrowIcon(SortingOrder.Status)
                    </button>
                </li>
                <li class="border-r-[1px] border-black">
                    <button class="uppercase tracking-wide" type="button" @onclick="() => OrderBids(SortingOrder.Listing)">
                        Listing
                        @DrawArrowIcon(SortingOrder.Listing)
                    </button>
                </li>
                <li>
                    <button class="uppercase tracking-wide" type="button" @onclick="() => OrderBids(SortingOrder.Time)">
                        Time
                        @DrawArrowIcon(SortingOrder.Time)
                    </button>
                </li>
            </ul>

            @if (Bids.Any())
            {
                foreach (Bid bid in Bids)
                {
                    Bid highestBid = new Bid();
                    string style = String.Empty;

                    using (var dbContext = dbContextFactory.CreateDbContext())
                    {
                        bid.Listing = ListingHelper.GetListingFromListingID(bid.ListingID, dbContext);

                        highestBid = BidHelper.GetHighestBidFromListingID(bid.ListingID, dbContext);

                        // Check if bid was the highest bid for associated listing
                        if (bid.ID == highestBid.ID)
                        {
                            bid.Status = bid.Listing.AuctionEnd < DateTime.Today ? BidStatus.Won : BidStatus.Leading;
                            style = bid.Listing.AuctionEnd < DateTime.Today ? "bg-green-300 grid-cols-4 grid *:p-4" : "bg-green-100 grid-cols-4 grid *:p-4";
                        }
                        else
                        {
                            bid.Status = bid.Listing.AuctionEnd < DateTime.Today ? BidStatus.Lost : BidStatus.Losing;
                            style = bid.Listing.AuctionEnd < DateTime.Today ? "bg-red-300 grid-cols-4 grid *:p-4" : "bg-red-100 grid-cols-4 grid *:p-4";
                        }
                    }

                    <ul class=@style>
                        <li>$@bid.Amount</li>
                        <li class="border-l-[1px] border-r-[1px] border-black">@bid.Status.ToString()</li>
                        <li class="border-r-[1px] border-black">@bid.Listing.Name</li>
                        <li>@bid.Time</li>
                    </ul>
                }
            }
            else
            {
                <p>You have no placed bids.</p>
            }
        </main>
    </Authorized>
    <NotAuthorized>
        <p>Log in to view your bidding history.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<Bid?> Bids { get; set; } = new List<Bid?>();
    private string UserName { get; set; }
    private bool OrderByDescending { get; set; } = true;

    // Only for determining which arrow to show
    private SortingOrder? SelectedSortingOrder { get; set; } = null;

    private enum SortingOrder
    {
        Amount,
        Status,
        Listing,
        Time
    };

    private void OrderBids(SortingOrder sortingOrder)
    {
        SelectedSortingOrder = sortingOrder;
        OrderByDescending = !OrderByDescending;

        if (sortingOrder != SortingOrder.Listing)
        {
            // Dynamically get the property of the bid object to order by
            var order = typeof(Bid).GetProperty(sortingOrder.ToString());

            if (OrderByDescending)
            {
                // Order by the specified sorting order
                // b in this case is the Bid object, we are essentially doing "b.sortingOrder"
                Bids = Bids.OrderByDescending(b => order.GetValue(b)).ToList();
            }
            else
            {
                Bids = Bids.OrderBy(b => order.GetValue(b)).ToList();
            }
        }
        else
        {
            if (OrderByDescending)
            {
                Bids = Bids.OrderByDescending(b => b.Listing.Name).ToList();
            }
            else
            {
                Bids = Bids.OrderBy(b => b.Listing.Name).ToList();
            }
        }


        StateHasChanged();
    }

    private MarkupString? DrawArrowIcon(SortingOrder sortingOrder)
    {
        // Return image element based on currently selected sorting order
        if (sortingOrder == SelectedSortingOrder)
        {
            MarkupString arrowIcon = OrderByDescending ?
            (MarkupString)"<img class='w-[15px] h-[15px] inline' src='images/down-arrow-icon.svg' alt='Down arrow icon' />" :
            (MarkupString)"<img class='w-[15px] h-[15px] inline' src='images/up-arrow-icon.svg' alt='Up arrow icon' />";

            return arrowIcon;
        }

        return null;
    }

    protected override async Task OnInitializedAsync()
    {
        // Get the logged in user
        var authenticationState = await AuthorizationStateProvider.GetAuthenticationStateAsync();
        var user = authenticationState.User;


        // Get the user's email if they are authenticated
        if (user.Identity.IsAuthenticated)
        {
            UserName = user.Identity.Name;
        }
        else
        {
            return;
        }

        using (var dbContext = dbContextFactory.CreateDbContext())
        {
            ApplicationUser loggedInUser = ApplicationUserHelper.GetAccountFromUserName(UserName, dbContext);

            Bids = dbContext.Bids.Where(b => b.ApplicationUserID == loggedInUser.Id).ToList();
        }
    }

}
